
/*** COLOR TEMP ***/
/*
white #ffffff > 
black #333333 > 
red #ec1f46 > 
blu #0a223d > 
background #f5fafe
*/

/*** BASECAMP ***/
body {
     background-color: #E5E5E5;
}
header, main, footer {
     background-color: #f5fafe;
}
h5 {
     color: #ec1f46;
}
a {
     text-decoration: none;
     color: #333333;
}
a:hover {
     text-decoration: underline;
     color: #ec1f46;
}
button {
    background: #ec1f46;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #ec1f46;
}
button:hover, button:focus {
    background: #ffffff;
    color: #ec1f46;
}



/*** HEADER ***/
.header-upper__gift-card {
     background: url("../img/ico_gift_black.svg") no-repeat left;
     background-size: 18px 18px;
}
.header-upper__loyalty-program {
     background: url("../img/ico_star_black.svg") no-repeat left;
     background-size: 18px 18px;
}

.header-main {
     background-color: #fff;
}
.header-main__logo {
     color: #333333;
 }
 .header-main__logo span {
     color: #ec1f46;
 }
 .search-form input[type=text] {
     background-color: #f5fafe;
 }
 .search-form input[type=submit] {
     background: url("../img/ico_search_white.svg") no-repeat center;
     background-color: #ec1f46;
 }
 .header-main__cart {
     background: url("../img/ico_shopping-cart_black.svg") no-repeat bottom left;
 }
 .header-main__cart_items {
     color: #ffffff;
     background-color: #ec1f46;
 }
 .header-main__cart_items:hover {
     color: #ffffff;
 }
 .header-main__user a {
     background: url("../img/ico_chevron-down_black.svg") no-repeat center right;
 }

.nav-main {
     background-color: #0a223d;
}
.nav-main__link {
     color: #ffffff;
 }
 .nav-main__link:hover {
     color: #ec1f46;
 }
 .nav-main__link_active {
     color: #ec1f46;
 }



 /*** MAIN CONTENT - MAIN OFFER ***/
 .nav-breadcrump ul li:not(:last-child):after {
    content: " / ";
    white-space: pre;
}


.hotel-selected__hotel-name p {
    background: #ec1f46;
    color: #ffffff;
}
.hotel-rating {
    background: #ec1f46;
    color: #ffffff;
}


.hotel-photoslider__nav .prev-slider {
    background: url("../img/ico_chevron-left_white.svg") no-repeat center;
}
.hotel-photoslider__nav .next-slider {
    background: url("../img/ico_chevron-right_white.svg") no-repeat center;
}

.offer-selected {
    background: #0a223d;
    color: #ffffff;
}
.offer-selected__resume .resume__guest {
    background: url("../img/ico_user_white.svg") no-repeat left;
}
.offer-selected__resume .resume__room {
    background: url("../img/ico_home_white.svg") no-repeat left;
}
.offer-selected__resume2 .resume__booking {
    background: url("../img/ico_phone-call_white.svg") no-repeat left;
}


.cards-menu__link_active {
    color: #ec1f46;
    border-bottom-color: #ec1f46;
}